h1 {
    text-align: center;
}
.tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 30px 0 5px;
    transition: all 0.5s;
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 3px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 3px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 3px solid #ccc;
    width: 0; height: 20px;
}
.tree li div{
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
    background-color: #142052;
    border-radius: 5px;
    transition: all 0.5s;
}
/* .tree li div:hover, .tree li div:hover+ul li div {
    background:white;
    color: black;
} */
span {
    margin-top: 10px;
    color: #00e77f;
}
.leaf {
    color: #00e77f !important;
    
}
.node span {
    color: #00c1ff
}
.attribute {
    color: #09a7db !important;
}
.content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 2rem
}
.value {
    background:none !important;
    color: black !important;
    border: none  !important
}